# .env sample file for Django project
DEBUG=True (for local development)
SECRET_KEY=your-secret-key
# You can get secret key from:
# from django.core.management.utils import get_random_secret_key
# print(get_random_secret_key()
DATABASE_URL=postgres://db_user:db_password@host/db_name

ALLOWED_HOSTS="*" (for local development)

# Email settings
EMAIL_HOST_USER="your_email"
EMAIL_HOST_PASSWORD="your_email_password"
EMAIL_HOST="your_email_host"
EMAIL_PORT=your_email_port
EMAIL_USE_SSL=True or False